<!-- app/views/customers/index.html.erb -->
<h1>All Customers</h1>

<% @customers.each do |customer| %>
  <div>
    <h2><%= link_to customer.name, customer %></h2>
    <p><strong>Email:</strong> <%= customer.email %></p>
    <p><strong>Phone:</strong> <%= customer.phone %></p>
    <p><%= link_to 'Edit', edit_customer_path(customer) %></p>
    <p><%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
  <hr>
<% end %>

<%= link_to 'New Customer', new_customer_path %>
<p><%= link_to 'Back to Home', root_path %></p>
