<!-- app/views/pages/index.html.erb -->
<h1>Welcome to FTX NFT Online Store</h1>

<h2>Our NFT Products</h2>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>


<h2>Available NFT Products</h2>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %> -
      <%= number_to_currency(product.price) %>
    </li>
  <% end %>
</ul>

<%= paginate @products %>

<!-- Link to Customer Index Page -->
<p><%= link_to "Customers", customers_path %></p>

<!-- Link to Products Index Page -->
<p><%= link_to "Products", products_path %></p>

<!-- Link to Categories Index Page -->
<p><%= link_to "Categories", categories_path %></p>

<!-- Login/Logout Links -->
<%= link_to "Login", new_customer_session_path %>

<li><%= link_to 'About', about_path %></li>
<li><%= link_to 'Contact', contact_path %></li>