<h1>Your Shopping Cart</h1>

<% if @cart.empty? %>
  <p>Your cart is empty.</p>
<% else %>
  <ul>
    <% total_amount = 0 %>
    <% @cart.each do |product_id, quantity| %>
      <% product = Product.find(product_id) %>
      <% total_amount += product.price * quantity %>
      <li>
        Product: <%= product.name %>, Quantity: 
        <%= form_with url: update_item_cart_path, method: :patch, local: true do %>
          <%= hidden_field_tag :product_id, product_id %>
          <%= number_field_tag :quantity, quantity, min: 0 %>
          <%= submit_tag 'Update' %>
        <% end %>
        <%= form_with url: remove_item_cart_path, method: :delete, local: true do %>
          <%= hidden_field_tag :product_id, product_id %>
          <%= submit_tag 'Remove' %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <p>Total Amount: <%= number_to_currency(total_amount) %></p>
  <%= button_to 'Checkout with Stripe', checkouts_path, remote: true, data: { disable_with: "validating..."} %>
<% end %>

<p><%= link_to 'Back to Home', root_path %></p>
