<!DOCTYPE html>
<html>
  <head>
    <title>FtxNftMarketplace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div>
      <% if customer_signed_in? %>
        <%= link_to "Customer_Profile", edit_customer_registration_path %>
        <%= button_to "Logout", destroy_customer_session_path, method: :delete %>
      <% end %>
    </div>

    <%= yield %>
    <%= render 'shared/breadcrumbs' %>
  </body>
</html>
